
/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 50px;                 /* задаем ширину кнопки */
    height: 50px;                /* задаем высоту кнопки */
    border-radius: 0%;          /* округляем кнопку */
    border: 15x;                /* отключаем обводку */
    background: rgb(192, 115, 128);         /* задаем серый цвет кнопки */
    color: whitesmoke;                /* задаем белый цвет текста внутри кнопки */
    font-size: 1.8rem;           /* увеличим размер шрифта */
    font-family: Helvetica; /* сменим шрифт */
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
  } 
  
  /* hover - это состояние элемента, когда на него наведен курсор */
  .my-btn:hover {
    background: darkslateblue; /* при наведение курсора на кнопку, она будет окрашена в серый */
  }
  
  /* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
  .my-btn:active {
    filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
  }
  
  /* селектор для кнопок первостепенных операций */
  .my-btn.primary { 
    background: #FF77FF; /* цвет кнопки оранжевый */
  }
  
  /* селектор для кнопок второстепенных операций */
  .my-btn.secondary { 
    background: #8673A1; /* цвет кнопки сервый */
  }
  
  /* селектор для кнопки расчета выражения (=) */
  .my-btn.execute { 
    width: 100px;          /* сделаем кнопку шире других */
    border-radius: 34px;   /* подкорректируем округлость */
  }
  
  /* селектор для поля вывода результата */
  .result { 
    width: 220px;
    height: 50px;
    margin-bottom: 15px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background: rgb(82, 21, 100); /* цвет можно задавать и таким образом */
    text-align: right;           /* примагнитим текст к правой стороне */
    color: white;              /* цвет текста белый */
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: none;
  }
  .calc{
    margin: 50px auto;
    width: 240px;
    height: 340px;
    border: 1px solid #000;
    border-radius: 25px;
    background: rgb(237, 192, 255);
    padding: 30px;
    box-shadow: 4px 4px 4px #3b2727;
  }
  .kon{
    text-align: center;
  }